* {
  scrollbar-width: auto;
  scrollbar-color: #ff00ad #090b1a;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #090b1a;
}

*::-webkit-scrollbar-thumb {
  background-color: #ff00ad;
  border-radius: 8px;
  border: 3px solid #090b1a;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
}

/* HERO AND CANVAS */

.hero {
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 6;
  order: 1;
  justify-content: center;
  align-items: center;
}

.content {
  order: 2;
}

.navbar {
  z-index: 99;
  position: absolute !important;
  top: 0;
  width: 100vw;
  background-color: transparent !important;
}
/* .navbar-toggler{
  margin-left: 10rem !important;
} */

.navbar-nav > li {
  padding-left: 30px;
  padding-right: 30px;
}
.nav-link {
  color: #fffafa !important;
}
.nav-link:hover {
  color: #f171c9 !important;
}
#navbarNav {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 1.8rem;
  margin-top: 12px;
}

.nav-logo {
  width: 6rem;
  margin-left: 1.8rem;
}
.nav-item {
  font-family: "Audiowide", cursive;
  font-size: 1.5rem;
}

canvas {
  width: 100%;
  height: 100%;
}

.tagline-text {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
}

/* Register Buttom */
.register-button {
  display: inline-block;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  /* background-color: #1c08fe; */
  border: 2px solid #1c08fe !important;
  margin-top: 1rem;
  border-radius: 10px;
  padding: 1rem 3rem;
  border: none;
  color: #fff;
  font-family: "Russo one", sans-serif;
  font-size: 1.5rem;
  transition: all 0.35s;
  text-decoration: none;
}

.register-button span {
  position: relative;
  z-index: 2;
}

.register-button:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #1f51ff;
  transition: all 0.35s;
}

.register-button:hover {
  color: #fff;
}

.register-button:hover:after {
  width: 100%;
}

/* LOGO ANIMATION */

.hero-logo {
  z-index: 5;
  transform: scale(0.5);
  height: 18rem;
}

svg {
  display: block;
}

#logo1 {
  animation: fillPink 0.5s ease forwards 3.2s;
  filter: drop-shadow(0px 0px 12px #ff00ad);
}

#logo1 path:nth-child(-n + 3) {
  stroke-dasharray: 800px;
  stroke-dashoffset: 800px;
  animation: text-anim 3.2s ease forwards 1s;
}

#logo2 {
  animation: fillBlue 0.5s ease forwards 3.2s;
  filter: drop-shadow(0px 0px 12px #1c08fe);
}

#logo2 path:nth-child(-n + 3) {
  stroke-dasharray: 650px;
  stroke-dashoffset: 650px;
  animation: text-anim 3.2s ease forwards 1s;
}

@keyframes fillPink {
  from {
    fill: transparent;
  }
  to {
    fill: #ff00ad;
  }
}

@keyframes fillBlue {
  from {
    fill: transparent;
  }
  to {
    fill: #1c08fe;
  }
}

@keyframes text-anim {
  to {
    stroke-dashoffset: 0;
  }
}

/* ABOUT SECTION */
.about {
  /* height: 100vh; */
  width: 100vw;
  height: auto;
  background-color: #090b1a !important;
  /* background-color: #0f0f1f !important; */
  display: flex;
  justify-content: center;
  align-items: center;
  order: 3;
  position: relative;
  color: white;
  padding: 5rem;
}
.about-title-div,
.event-title-div {
  display: flex;
  flex-direction: row;
}
.about-title-div > img {
  z-index: 1;
  transform: scaleX(-1);
  width: 74px;
  height: 11px;
  margin: 18px 0px 0px 10px;
}
.event-title-div > img {
  z-index: 1;
  width: 74px;
  height: 11px;
  margin: 20px 10px 0px 10px;
  vertical-align: middle;
}
#step-1 {
  transform: scaleX(-1);
}

.about h1 {
  font-family: "Russo One", sans-serif;
}

.about p {
  font-size: 1.25rem;
  font-family: Inter;
  text-align: left;
}
.about-p1,
.about-p2 {
  width: 85%;
}
.about-p3 {
  width: 80%;
}

.about-card {
  padding: 3rem;
  width: 80%;
  height: 75%;
  background-color: #1e1f35 !important;
}

.about-vector {
  position: absolute;
  bottom: 0%;
  right: 0%;
  height: fit-content;
  width: 35%;
}

/* EVENT SECTION */

.events-title {
  font-family: "Russo One", sans-serif;
  font-size: 3rem;
  color: #fff;
  display: flex;
  flex-direction: row;
}

.events {
  order: 2;
  /* background-color: #090b1a !important; */
  background-color: #0f0f1f !important;
}

/* indi event card */
.card {
  background-color: #1e1f35 !important;
  color: #fff;
}

.card:hover {
  background-image: radial-gradient(
    circle,
    rgba(137, 120, 211, 0.4) 0%,
    #1e1f35 100%
  );
  cursor: pointer;
}

/* .card:hover .border-shadow {
  opacity: 1;
  visibility: visible;
} */

.card-body {
  margin: 1rem;
  overflow: hidden;
}

.card-head {
  height: 5rem;
}

.event-card-icon {
  height: 2.5rem;
  margin-right: 32px;
}

.event-title {
  font-size: 2rem;
  font-family: "Russo One", sans-serif;
}

.prizes::before {
  width: 197px;
  height: 35px;
  content: "";
  background-image: url(../assets/shape-bg.png);
  position: absolute;
  left: 0px;
}

.event-details {
  font-size: 1.2rem;
  margin: 1.5rem 0;
}

/* card button */
.event-card-button {
  border-radius: 10px;
  width: 7rem;
  height: 2.5rem;
  color: #0753bb;
  /* box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5); */
  border: solid 3px #0753bb;
  background: transparent;
  /* background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(101deg, #78e4ff, #ff48fa); */
  /* background-origin: border-box; */
  /* background-clip: content-box, border-box; */
  /* box-shadow: 2px 1000px 1px #1e1f35 inset; */
  /* background-color: transparent; */
}

.event-card-register {
  border-radius: 10px;
  width: 7rem;
  height: 2.5rem;
  background: #0753bb;
  border: none;
  color: #fff;
}

button.button:hover {
  box-shadow: none;
  color: white;
}

@media screen and (min-width: 375px) {
  .hero-logo {
    width: 90%;
  }

  .about {
    padding: 16px;
    text-align: center;
  }

  .about p {
    width: 100%;
  }

  .footer__container {
    margin: 0 2rem 0 2rem;
    flex-direction: column;
    row-gap: 1rem;
  }

  .footer__links {
    row-gap: 1rem;
  }
}

@media screen and (min-width: 728px) {
  .hero-logo {
    width: 95%;
  }

  .about {
    padding: 16px;
    text-align: center;
  }

  .about p {
    width: 100%;
  }

  .footer__container {
    margin: 0 2rem;
    column-gap: 1rem;
  }
}

@media screen and (min-width: 900px) {
  .events-container {
    margin: 0 5rem !important;
  }

  .footer__container {
    margin: 0 5rem 0 5rem;
    flex-direction: row;
  }

  .footer__socials {
    width: 33%;
  }
}
@media screen and (max-width: 1000px) {
  .about-card {
    width: 100%;
    transition: 1s ease-in;
  }
  .about-vector {
    width: 75%;
  }
  .about p {
    font-size: 1 rem;

    width: 75%;
  }
  .events-title {
    font-size: 2rem;
  }
  .about-p1 {
    width: 100%;
  }
}

/* Footer */

.footer__section {
  order: 4;
}

.footer__container {
  display: flex;
  /* margin: 0 5rem; */
  justify-content: space-between;
  font-family: "Audiowide";
}

.footer__bg {
  padding: 2rem 0 1rem;
  background-image: url("./assets/1866.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.footer__title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.footer__subtitle {
  font-size: 1rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

.footer__links {
  display: flex;
  width: 25%;
  flex-direction: column;
}

.footer__link:hover {
  color: #0753bb;
}

.footer__socials {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.footer__social {
  font-size: 1.35rem;
  margin-right: 0.8rem;
}

.footer__social:hover {
  color: #0753bb;
}

.footer__copy {
  font-size: 1rem;
  text-align: center;
  color: white;
  margin-top: 2rem;
}

.footer__title,
.footer__social,
.footer__link,
.footer__subtitle,
.footer__add {
  color: white;
}
