/* * {
  font-size: 2rem;
} */

body {
  margin: 0;
  padding: 0;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  overflow-x: hidden;
}

.hero {
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 6;
  order: 1;
  justify-content: center;
  align-items: center;
}

canvas {
  width: 100%;
  height: 100%;
}

.hero-logo {
  /* top: 50%; */
  z-index: 5;
  /* width: 50vw; */
  transform: scale(0.3);
}

.about {
  height: 100vh;
  width: 100vw;
  order: 2;
  /* background-image: url("ugh.png"); */
  background-repeat: no-repeat;
  object-fit: cover;
}

.events {
  order: 3;
}

/* event card */

.card {
  /* font-size: 5rem; */
  background-color: #1c1c31 !important;
  color: #fff;
}

.card-body {
  margin: 1rem;
}

.event-title {
  font-size: 2rem;
}

.prizes::before {
  width: 197px;
  height: 35px;
  content: "";
  background-image: url(../assets/shape-bg.png);
  position: absolute;
  left: -30px;
  top: -7px;
}
