body {
  margin: 0;
  padding: 0;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
}

/* HERO AND CANVAS */
.hero {
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 6;
  order: 1;
  justify-content: center;
  align-items: center;
}

canvas {
  width: 100%;
  height: 100%;
}

.hero-logo {
  z-index: 5;
  transform: scale(0.4);
}

.about {
  height: 100vh;
  width: 100vw;
  order: 2;
}

/* EVENT SECTION */
.events {
  order: 3;
  background-color: #0f0f1f !important;
}

@media screen and (min-width: 900px) {
  .events-container {
    margin: 0 5rem !important;
  }
}

/* indi event card */
.card {
  background-color: #1e1f35 !important;
  color: #fff;
}

.card:hover {
  background-image: radial-gradient(
    circle,
    rgba(137, 120, 211, 0.4) 0%,
    #1e1f35 100%
  );
}

.card:hover .border-shadow {
  opacity: 1;
  visibility: visible;
}

.card-body {
  margin: 1rem;
  overflow: hidden;
}

.card-head {
  height: 5rem;
}

.event-card-icon {
  height: 2.5rem;
  margin-right: 32px;
}

.event-title {
  font-size: 2rem;
  font-family: "Russo One", sans-serif;
}

.prizes::before {
  width: 197px;
  height: 35px;
  content: "";
  background-image: url(../assets/shape-bg.png);
  position: absolute;
  left: 0px;
}

.event-details {
  font-size: 1.2rem;
  margin: 1.5rem 0;
}

/* card button */
.event-card-button {
  border-radius: 100rem;
  padding: 1rem;
  padding: 0.5rem 3rem;
  color: #fff;
  box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
  border: solid 3px transparent;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(101deg, #78e4ff, #ff48fa);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #1e1f35 inset;
  background-color: transparent;
}

button.button:hover {
  box-shadow: none;
  color: white;
}
